@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colors-global-page: white;
    --colors-global-accent: hsl(151, 55%, 41.5%);
    --colors-global-primary: hsl(0, 0%, 9%);
    --colors-global-secondary: hsl(0, 0%, 43.5%);
    --colors-global-tertiary: hsl(0, 0%, 52.3%);
    --colors-global-quaternary: hsl(0, 0%, 78%);
    --colors-global-disabled: hsl(0, 0%, 78%);
    --colors-global-critical: hsl(358, 75%, 59%);
    --colors-global-informative: hsl(206, 100%, 50%);
    --colors-text-page: hsl(0, 0%, 9%);
    --colors-text-tooltip: hsl(0, 0%, 99%);
    --colors-text-accent: hsl(151, 55%, 41.5%);
    --colors-text-on-accent: white;
    --colors-text-primary: hsl(0, 0%, 9%);
    --colors-text-secondary: hsl(0, 0%, 43.5%);
    --colors-text-tertiary: hsl(0, 0%, 52.3%);
    --colors-text-quaternary: hsl(0, 0%, 78%);
    --colors-text-disabled: hsl(0, 0%, 56.1%);
    --colors-text-critical: hsl(358, 75%, 59%);
    --colors-text-informative: hsl(206, 100%, 50%);
    --colors-text-positive: hsl(151, 55%, 41.5%);
    --colors-text-gold: hsl(42, 100%, 29%);
    --colors-text-silver: hsl(206, 6%, 43.5%);
    --colors-text-bronze: hsl(15, 20%, 43.1%);
    --colors-text-button-primary-normal: hsl(0, 0%, 99%);
    --colors-text-button-primary-hover: hsl(0, 0%, 99%);
    --colors-text-button-primary-active: hsl(0, 0%, 99%);
    --colors-text-button-primary-disabled: hsl(0, 0%, 56.1%);
    --colors-text-button-secondary-normal: hsl(0, 0%, 9%);
    --colors-text-button-secondary-hover: hsl(0, 0%, 9%);
    --colors-text-button-secondary-active: hsl(0, 0%, 9%);
    --colors-text-button-secondary-disabled: hsl(0, 0%, 78%);
    --colors-text-button-radio-normal: hsl(0, 0%, 9%);
    --colors-text-button-radio-hover: hsl(0, 0%, 9%);
    --colors-text-button-radio-active: hsl(0, 0%, 9%);
    --colors-text-button-radio-disabled: hsl(0, 0%, 78%);
    --colors-text-button-tertiary-normal: hsl(0, 0%, 43.5%);
    --colors-text-button-tertiary-hover: hsl(0, 0%, 9%);
    --colors-text-button-tertiary-active: hsl(0, 0%, 9%);
    --colors-text-button-tertiary-disabled: hsl(0, 0%, 78%);
    --colors-text-button-quaternary-normal: hsl(0, 0%, 43.5%);
    --colors-text-button-quaternary-hover: hsl(0, 0%, 9%);
    --colors-text-button-quaternary-active: hsl(0, 0%, 9%);
    --colors-text-button-quaternary-disabled: hsl(0, 0%, 78%);
    --colors-text-button-accent-normal: black;
    --colors-text-button-accent-hover: black;
    --colors-text-button-accent-active: black;
    --colors-text-button-accent-disabled: black;
    --colors-text-button-positive-normal: black;
    --colors-text-button-positive-hover: black;
    --colors-text-button-positive-active: black;
    --colors-text-button-positive-disabled: black;
    --colors-text-button-critical-normal: white;
    --colors-text-button-critical-hover: white;
    --colors-text-button-critical-active: white;
    --colors-text-button-critical-disabled: white;
    --colors-text-badge-neutral: hsl(0, 0%, 9%);
    --colors-text-badge-rough: hsla(153, 99.9%, 21%, 0.906);
    --colors-text-badge-polished: hsla(212, 100%, 43%, 0.98);
    --colors-text-badge-piece-of-art: hsla(250, 99.8%, 28.4%, 0.726);
    --colors-text-badge-masterpiece: hsla(29, 100%, 33.6%, 0.98);
    --colors-text-icon-badge-neutral: white;
    --colors-text-icon-badge-rough: white;
    --colors-text-icon-badge-polished: white;
    --colors-text-icon-badge-piece-of-art: white;
    --colors-text-icon-badge-masterpiece: white;
    --colors-bg-page: white;
    --colors-bg-header: rgba(255, 255, 255, 100%);
    --colors-bg-popover: white;
    --colors-bg-dialog: white;
    --colors-bg-tooltip: hsl(0, 0%, 9%);
    --colors-bg-notification: white;
    --colors-bg-bar: hsla(0, 0%, 100%, 65%);
    --colors-bg-accent: hsl(151, 55%, 41.5%);
    --colors-bg-critical: hsl(358, 75%, 59%);
    --colors-bg-informative: hsl(206, 100%, 50%);
    --colors-bg-positive: hsl(151, 55%, 41.5%);
    --colors-bg-disabled: hsl(0, 0%, 88.7%);
    --colors-bg-caution: hsl(39, 100%, 57%);
    --colors-bg-scrollbar: transparent;
    --colors-bg-scrollbar-thumb: hsla(0, 0%, 0%, 0.439);
    --colors-bg-auction-live: hsla(84, 98.7%, 43.2%, 0.138);
    --colors-bg-auction-ended: hsla(0, 0%, 0%, 0.012);
    --colors-bg-ip: hsla(45, 97%, 27.9%, 0.087);
    --colors-bg-gold: hsl(48, 100%, 46.1%);
    --colors-bg-silver: hsl(205, 10.7%, 78%);
    --colors-bg-bronze: hsl(17, 25.1%, 66.5%);
    --colors-bg-token-amount: transparent;
    --colors-bg-white-captured-pieces: hsl(0, 0%, 97.3%);
    --colors-bg-black-captured-pieces: hsl(0, 0%, 97.3%);
    --colors-bg-button-primary-normal: hsla(0, 0%, 0%, 0.91);
    --colors-bg-button-primary-hover: hsla(0, 0%, 0%, 0.91);
    --colors-bg-button-primary-active: hsla(0, 0%, 0%, 0.91);
    --colors-bg-button-primary-disabled: transparent;
    --colors-bg-button-secondary-normal: hsla(0, 0%, 0%, 0.047);
    --colors-bg-button-secondary-hover: hsla(0, 0%, 0%, 0.071);
    --colors-bg-button-secondary-active: hsla(0, 0%, 0%, 0.09);
    --colors-bg-button-secondary-disabled: transparent;
    --colors-bg-button-radio-normal: hsla(0, 0%, 0%, 0.027);
    --colors-bg-button-radio-hover: hsla(0, 0%, 0%, 0.047);
    --colors-bg-button-radio-active: hsla(0, 0%, 0%, 0.047);
    --colors-bg-button-radio-disabled: transparent;
    --colors-bg-button-tertiary-normal: transparent;
    --colors-bg-button-tertiary-hover: hsla(0, 0%, 0%, 0.047);
    --colors-bg-button-tertiary-active: hsla(0, 0%, 0%, 0.071);
    --colors-bg-button-tertiary-disabled: transparent;
    --colors-bg-button-quaternary-normal: transparent;
    --colors-bg-button-quaternary-hover: transparent;
    --colors-bg-button-quaternary-active: transparent;
    --colors-bg-button-quaternary-disabled: transparent;
    --colors-bg-button-accent-normal: hsl(151, 55%, 41.5%);
    --colors-bg-button-accent-hover: hsl(151, 55%, 41.5%);
    --colors-bg-button-accent-active: hsl(151, 55%, 41.5%);
    --colors-bg-button-accent-disabled: transparent;
    --colors-bg-button-positive-normal: hsl(151, 55%, 41.5%);
    --colors-bg-button-positive-hover: hsl(151, 55%, 41.5%);
    --colors-bg-button-positive-active: hsl(151, 55%, 41.5%);
    --colors-bg-button-positive-disabled: transparent;
    --colors-bg-button-critical-normal: hsl(358, 75%, 59%);
    --colors-bg-button-critical-hover: hsl(358, 75%, 59%);
    --colors-bg-button-critical-active: hsl(358, 75%, 59%);
    --colors-bg-button-critical-disabled: transparent;
    --colors-bg-card-primary-normal: hsl(0, 0%, 97.3%);
    --colors-bg-card-primary-hover: hsl(0, 0%, 95.1%);
    --colors-bg-card-primary-active: hsl(0, 0%, 93%);
    --colors-bg-card-primary-disabled: hsl(0, 0%, 99%);
    --colors-bg-card-secondary-normal: transparent;
    --colors-bg-card-secondary-hover: transparent;
    --colors-bg-card-secondary-active: transparent;
    --colors-bg-card-secondary-disabled: hsl(0, 0%, 99%);
    --colors-bg-badge-neutral: hsla(0, 0%, 0%, 0.047);
    --colors-bg-badge-rough: hsla(139, 98.5%, 32.7%, 0.134);
    --colors-bg-badge-polished: hsla(210, 100%, 50.1%, 0.118);
    --colors-bg-badge-piece-of-art: hsla(251, 98.3%, 48.2%, 0.087);
    --colors-bg-badge-masterpiece: hsla(43, 100%, 50%, 0.263);
    --colors-bg-icon-badge-neutral: hsla(0, 0%, 0%, 0.439);
    --colors-bg-icon-badge-rough: hsl(151, 55%, 41.5%);
    --colors-bg-icon-badge-polished: hsl(206, 100%, 50%);
    --colors-bg-icon-badge-piece-of-art: hsl(252, 56%, 57.5%);
    --colors-bg-icon-badge-masterpiece: hsl(39, 100%, 57%);
    --colors-bg-checkbox-normal: transparent;
    --colors-bg-checkbox-hover: transparent;
    --colors-bg-checkbox-active: hsl(151, 55%, 41.5%);
    --colors-bg-checkbox-disabled: transparent;
    --colors-bg-radio-normal: transparent;
    --colors-bg-radio-hover: transparent;
    --colors-bg-radio-active: transparent;
    --colors-bg-radio-disabled: transparent;
    --colors-bg-radio-dot-normal: hsl(151, 55%, 41.5%);
    --colors-bg-radio-dot-hover: hsl(151, 55%, 41.5%);
    --colors-bg-radio-dot-active: hsl(151, 55%, 41.5%);
    --colors-bg-radio-dot-disabled: hsl(151, 55%, 41.5%);
    --colors-bg-switch-normal: hsla(0, 0%, 0%, 0.141);
    --colors-bg-switch-hover: hsla(0, 0%, 0%, 0.141);
    --colors-bg-switch-active: hsl(151, 55%, 41.5%);
    --colors-bg-switch-disabled: hsla(0, 0%, 0%, 0.027);
    --colors-bg-switch-dot-normal: hsl(0, 0%, 97.3%);
    --colors-bg-switch-dot-hover: hsl(0, 0%, 97.3%);
    --colors-bg-switch-dot-active: hsl(0, 0%, 99%);
    --colors-bg-switch-dot-disabled: hsl(0, 0%, 97.3%);
    --colors-bg-table-header: hsla(0, 0%, 0%, 0.027);
    --colors-bg-table-row-odd-normal: transparent;
    --colors-bg-table-row-odd-hover: hsla(0, 0%, 0%, 0.012);
    --colors-bg-table-row-odd-active: hsla(0, 0%, 0%, 0.027);
    --colors-bg-table-row-even-normal: hsl(0, 0%, 99%);
    --colors-bg-table-row-even-hover: hsla(0, 0%, 0%, 0.027);
    --colors-bg-table-row-even-active: hsla(0, 0%, 0%, 0.047);
    --colors-border-normal: hsla(0, 0%, 0%, 0.09);
    --colors-border-active: hsla(0, 0%, 0%, 0.91);
    --colors-border-disabled: hsla(0, 0%, 0%, 0.027);
    --colors-border-accent: hsl(151, 55%, 41.5%);
    --colors-border-critical: hsl(358, 75%, 59%);
    --colors-border-informative: hsl(206, 100%, 50%);
    --colors-border-popover: transparent;
    --colors-border-dialog: transparent;
    --colors-border-tooltip: hsla(0, 0%, 0%, 0.565);
    --colors-border-auction-live: hsla(82, 99.8%, 39.3%, 0.42);
    --colors-border-auction-ended: hsla(0, 0%, 0%, 0.071);
    --colors-border-ip: hsla(45, 97%, 27.9%, 0.087);
    --colors-border-token-amount: hsla(0, 0%, 0%, 0.09);
    --colors-border-card-primary-normal: transparent;
    --colors-border-card-primary-hover: transparent;
    --colors-border-card-primary-active: transparent;
    --colors-border-card-primary-disabled: hsla(0, 0%, 0%, 0.114);
    --colors-border-card-secondary-normal: hsla(0, 0%, 0%, 0.114);
    --colors-border-card-secondary-hover: hsla(0, 0%, 0%, 0.114);
    --colors-border-card-secondary-active: hsla(0, 0%, 0%, 0.114);
    --colors-border-card-secondary-disabled: hsla(0, 0%, 0%, 0.114);
    --colors-border-input-normal: hsla(0, 0%, 0%, 0.114);
    --colors-border-input-hover: hsla(0, 0%, 0%, 0.141);
    --colors-border-input-focus: hsla(0, 0%, 0%, 0.141);
    --colors-border-tab-active: hsla(0, 0%, 0%, 0.91);
    --colors-border-button-primary-normal: transparent;
    --colors-border-button-primary-hover: transparent;
    --colors-border-button-primary-active: transparent;
    --colors-border-button-primary-disabled: hsla(0, 0%, 0%, 0.071);
    --colors-border-button-secondary-normal: transparent;
    --colors-border-button-secondary-hover: transparent;
    --colors-border-button-secondary-active: transparent;
    --colors-border-button-secondary-disabled: hsla(0, 0%, 0%, 0.071);
    --colors-border-button-radio-normal: transparent;
    --colors-border-button-radio-hover: transparent;
    --colors-border-button-radio-active: transparent;
    --colors-border-button-radio-disabled: hsla(0, 0%, 0%, 0.071);
    --colors-border-button-tertiary-normal: transparent;
    --colors-border-button-tertiary-hover: transparent;
    --colors-border-button-tertiary-active: transparent;
    --colors-border-button-tertiary-disabled: transparent;
    --colors-border-button-quaternary-normal: transparent;
    --colors-border-button-quaternary-hover: transparent;
    --colors-border-button-quaternary-active: transparent;
    --colors-border-button-quaternary-disabled: transparent;
    --colors-border-button-accent-normal: hsla(81, 99.8%, 40.2%, 0.836);
    --colors-border-button-accent-hover: hsla(81, 99.8%, 40.2%, 0.836);
    --colors-border-button-accent-active: hsla(81, 99.8%, 40.2%, 0.836);
    --colors-border-button-accent-disabled: hsla(81, 99.8%, 40.2%, 0.836);
    --colors-border-button-positive-normal: transparent;
    --colors-border-button-positive-hover: transparent;
    --colors-border-button-positive-active: transparent;
    --colors-border-button-positive-disabled: transparent;
    --colors-border-button-critical-normal: transparent;
    --colors-border-button-critical-hover: transparent;
    --colors-border-button-critical-active: transparent;
    --colors-border-button-critical-disabled: transparent;
    --colors-border-checkbox-normal: hsla(0, 0%, 0%, 0.141);
    --colors-border-checkbox-hover: hsla(0, 0%, 0%, 0.22);
    --colors-border-checkbox-active: hsl(151, 55%, 41.5%);
    --colors-border-checkbox-disabled: hsla(0, 0%, 0%, 0.071);
    --colors-border-radio-normal: hsla(0, 0%, 0%, 0.22);
    --colors-border-radio-hover: hsla(0, 0%, 0%, 0.439);
    --colors-border-radio-active: hsl(151, 55%, 41.5%);
    --colors-border-radio-disabled: hsla(0, 0%, 0%, 0.09);
  }

  .dark {
    --colors-global-accent: hsl(81, 67%, 50%);
    --colors-global-page: hsl(0, 0%, 8.5%);
    --colors-global-primary: hsl(0, 0%, 93%);
    --colors-global-secondary: hsl(0, 0%, 62.8%);
    --colors-global-tertiary: hsl(0, 0%, 49.4%);
    --colors-global-quaternary: hsl(0, 0%, 31.2%);
    --colors-global-critical: hsl(358, 75%, 59%);
    --colors-global-informative: hsl(206, 100%, 50%);
    --colors-global-disabled: hsl(0, 0%, 43.9%);
    --colors-text-page: hsl(0, 0%, 93%);
    --colors-text-tooltip: hsl(0, 0%, 8.5%);
    --colors-text-accent: hsl(81, 67%, 50%);
    --colors-text-on-accent: hsl(0, 0%, 8.5%);
    --colors-text-primary: hsl(0, 0%, 93%);
    --colors-text-secondary: hsl(0, 0%, 62.8%);
    --colors-text-tertiary: hsl(0, 0%, 49.4%);
    --colors-text-positive: hsl(81, 67%, 50%);
    --colors-text-critical: hsl(358, 75%, 59%);
    --colors-text-informative: hsl(206, 100%, 50%);
    --colors-text-disabled: hsl(0, 0%, 43.9%);
    --colors-text-gold: hsl(42, 100%, 29%);
    --colors-text-silver: hsl(206, 6%, 43.5%);
    --colors-text-bronze: hsl(15, 20%, 43.1%);
    --colors-text-auction-primary: hsla(83, 100%, 94.2%, 0.98);
    --colors-text-auction-secondary: hsla(0, 0%, 100%, 0.592);
    --colors-text-button-primary-normal: hsl(0, 0%, 8.5%);
    --colors-text-button-primary-hover: hsl(0, 0%, 8.5%);
    --colors-text-button-primary-active: hsl(0, 0%, 8.5%);
    --colors-text-button-primary-disabled: hsl(0, 0%, 31.2%);
    --colors-text-button-accent-normal: hsl(75, 55%, 6%);
    --colors-text-button-accent-hover: hsl(75, 55%, 6%);
    --colors-text-button-accent-active: hsl(75, 55%, 6%);
    --colors-text-button-accent-disabled: hsla(77, 99.1%, 62.1%, 0.252);
    --colors-text-button-secondary-normal: hsl(0, 0%, 93%);
    --colors-text-button-secondary-hover: hsl(0, 0%, 93%);
    --colors-text-button-secondary-active: hsl(0, 0%, 93%);
    --colors-text-button-secondary-disabled: hsl(0, 0%, 31.2%);
    --colors-text-button-radio-normal: hsl(0, 0%, 93%);
    --colors-text-button-radio-hover: hsl(0, 0%, 93%);
    --colors-text-button-radio-active: hsl(0, 0%, 93%);
    --colors-text-button-radio-disabled: hsl(0, 0%, 31.2%);
    --colors-text-button-tertiary-normal: hsl(0, 0%, 62.8%);
    --colors-text-button-tertiary-hover: hsl(0, 0%, 93%);
    --colors-text-button-tertiary-active: hsl(0, 0%, 93%);
    --colors-text-button-tertiary-disabled: hsl(0, 0%, 31.2%);
    --colors-text-button-quaternary-normal: hsl(0, 0%, 62.8%);
    --colors-text-button-quaternary-hover: hsl(0, 0%, 93%);
    --colors-text-button-quaternary-active: hsl(0, 0%, 93%);
    --colors-text-button-quaternary-disabled: hsl(0, 0%, 31.2%);
    --colors-text-button-critical-normal: hsl(0, 0%, 8.5%);
    --colors-text-button-critical-hover: hsl(0, 0%, 8.5%);
    --colors-text-button-critical-active: hsl(0, 0%, 8.5%);
    --colors-text-button-critical-disabled: hsl(0, 0%, 31.2%);
    --colors-text-button-positive-normal: hsl(0, 0%, 8.5%);
    --colors-text-button-positive-hover: hsl(0, 0%, 8.5%);
    --colors-text-button-positive-active: hsl(0, 0%, 8.5%);
    --colors-text-button-positive-disabled: hsl(0, 0%, 31.2%);
    --colors-text-badge-neutral: hsl(0, 0%, 93%);
    --colors-text-badge-rough: hsla(151, 99.7%, 69.2%, 0.74);
    --colors-text-badge-polished: hsla(209, 100%, 66.3%, 0.98);
    --colors-text-badge-piece-of-art: hsla(250, 100%, 77.9%, 0.98);
    --colors-text-badge-masterpiece: hsla(39, 99.9%, 52.7%, 0.938);
    --colors-text-icon-badge-neutral: hsl(0, 0%, 93%);
    --colors-text-icon-badge-rough: hsla(137, 100%, 95.8%, 0.98);
    --colors-text-icon-badge-polished: hsla(196, 100%, 96.8%, 0.98);
    --colors-text-icon-badge-piece-of-art: hsla(254, 100%, 97.5%, 0.98);
    --colors-text-icon-badge-masterpiece: hsla(45, 100%, 94.2%, 0.98);
    --colors-bg-page: hsl(0, 0%, 8.5%);
    --colors-bg-header: hsla(0, 0%, 8.5%, 100%);
    --colors-bg-popover: hsl(0, 0%, 15.8%);
    --colors-bg-dialog: hsl(0, 0%, 15.8%);
    --colors-bg-tooltip: hsl(0, 0%, 93%);
    --colors-bg-accent: hsl(81, 67%, 50%);
    --colors-bg-critical: hsl(358, 75%, 59%);
    --colors-bg-positive: hsl(81, 67%, 50%);
    --colors-bg-informative: hsl(206, 100%, 50%);
    --colors-bg-caution: hsl(39, 100%, 57%);
    --colors-bg-notification: hsl(0, 0%, 15.8%);
    --colors-bg-bar: hsla(0, 0%, 8.5%, 80%);
    --colors-bg-scrollbar: transparent;
    --colors-bg-scrollbar-thumb: hsla(0, 0%, 100%, 0.386);
    --colors-bg-auction-live: hsla(88, 98%, 70.4%, 0.061);
    --colors-bg-auction-ended: hsla(0, 0%, 100%, 0.026);
    --colors-bg-ip: hsla(40, 97.5%, 80.6%, 0.065);
    --colors-bg-token-amount: transparent;
    --colors-bg-current: var(--bg-current);
    --colors-bg-white-captured-pieces: hsl(0, 0%, 8.5%);
    --colors-bg-black-captured-pieces: hsla(0, 0%, 100%, 0.592);
    --colors-bg-button-primary-normal: #fff;
    --colors-bg-button-primary-hover: hsla(0, 0%, 100%, 0.923);
    --colors-bg-button-primary-active: hsla(0, 0%, 100%, 0.923);
    --colors-bg-button-primary-disabled: transparent;
    --colors-bg-button-secondary-normal: hsla(0, 0%, 100%, 0.056);
    --colors-bg-button-secondary-hover: hsla(0, 0%, 100%, 0.077);
    --colors-bg-button-secondary-active: hsla(0, 0%, 100%, 0.103);
    --colors-bg-button-secondary-disabled: transparent;
    --colors-bg-button-radio-normal: hsla(0, 0%, 100%, 0.026);
    --colors-bg-button-radio-hover: hsla(0, 0%, 100%, 0.056);
    --colors-bg-button-radio-active: hsla(0, 0%, 100%, 0.077);
    --colors-bg-button-radio-disabled: transparent;
    --colors-bg-button-tertiary-normal: transparent;
    --colors-bg-button-tertiary-hover: hsla(0, 0%, 100%, 0.056);
    --colors-bg-button-tertiary-active: hsla(0, 0%, 100%, 0.103);
    --colors-bg-button-tertiary-disabled: transparent;
    --colors-bg-button-quaternary-normal: transparent;
    --colors-bg-button-quaternary-hover: transparent;
    --colors-bg-button-quaternary-active: transparent;
    --colors-bg-button-quaternary-disabled: transparent;
    --colors-bg-button-accent-normal: hsl(81, 67%, 50%);
    --colors-bg-button-accent-hover: hsl(75, 85%, 60%);
    --colors-bg-button-accent-active: hsl(75, 85%, 60%);
    --colors-bg-button-accent-disabled: transparent;
    --colors-bg-button-positive-normal: hsl(81, 67%, 50%);
    --colors-bg-button-positive-hover: hsl(75, 85%, 60%);
    --colors-bg-button-positive-active: hsl(75, 85%, 60%);
    --colors-bg-button-positive-disabled: transparent;
    --colors-bg-button-critical-normal: hsl(358, 75%, 59%);
    --colors-bg-button-critical-hover: hsl(358, 85.3%, 64%);
    --colors-bg-button-critical-active: hsl(358, 85.3%, 64%);
    --colors-bg-button-critical-disabled: transparent;
    --colors-bg-card-primary-normal: hsla(0, 0%, 100%, 0.056);
    --colors-bg-card-primary-hover: hsla(0, 0%, 100%, 0.077);
    --colors-bg-card-primary-active: hsla(0, 0%, 100%, 0.103);
    --colors-bg-card-primary-disabled: hsla(0, 0%, 100%, 0.026);
    --colors-bg-card-secondary-normal: hsla(0, 0%, 100%, 0.056);
    --colors-bg-card-secondary-hover: hsla(0, 0%, 100%, 0.077);
    --colors-bg-card-secondary-active: hsla(0, 0%, 100%, 0.077);
    --colors-bg-card-secondary-disabled: hsla(0, 0%, 100%, 0.026);
    --colors-bg-input-normal: transparent;
    --colors-bg-input-hover: transparent;
    --colors-bg-input-focus: transparent;
    --colors-bg-checkbox-normal: transparent;
    --colors-bg-checkbox-hover: transparent;
    --colors-bg-checkbox-active: hsl(81, 67%, 50%);
    --colors-bg-checkbox-disabled: transparent;
    --colors-bg-radio-normal: transparent;
    --colors-bg-radio-hover: transparent;
    --colors-bg-radio-active: transparent;
    --colors-bg-radio-disabled: transparent;
    --colors-bg-radio-dot-normal: hsl(81, 67%, 50%);
    --colors-bg-radio-dot-hover: hsl(81, 67%, 50%);
    --colors-bg-radio-dot-active: hsl(81, 67%, 50%);
    --colors-bg-radio-dot-disabled: hsl(81, 67%, 50%);
    --colors-bg-switch-normal: hsla(0, 0%, 100%, 0.172);
    --colors-bg-switch-hover: hsla(0, 0%, 100%, 0.172);
    --colors-bg-switch-active: hsl(81, 67%, 50%);
    --colors-bg-switch-disabled: hsla(0, 0%, 100%, 0.026);
    --colors-bg-switch-dot-normal: hsl(0, 0%, 11%);
    --colors-bg-switch-dot-hover: hsl(0, 0%, 11%);
    --colors-bg-switch-dot-active: hsla(0, 0%, 100%, 0.923);
    --colors-bg-switch-dot-disabled: hsla(0, 0%, 100%, 0.026);
    --colors-bg-badge-neutral: hsla(0, 0%, 100%, 0.077);
    --colors-bg-badge-rough: hsla(158, 98.6%, 59.7%, 0.105);
    --colors-bg-badge-polished: hsla(215, 99.3%, 53.8%, 0.198);
    --colors-bg-badge-piece-of-art: hsla(253, 99.7%, 65.7%, 0.219);
    --colors-bg-badge-masterpiece: hsla(29, 100%, 50%, 0.143);
    --colors-bg-icon-badge-neutral: hsl(0, 0%, 43.9%);
    --colors-bg-icon-badge-rough: hsl(151, 55%, 41.5%);
    --colors-bg-icon-badge-polished: hsl(206, 100%, 50%);
    --colors-bg-icon-badge-piece-of-art: hsl(252, 56%, 57.5%);
    --colors-bg-icon-badge-masterpiece: hsl(39, 100%, 57%);
    --colors-bg-table-row-odd-normal: transparent;
    --colors-bg-table-row-odd-hover: hsla(0, 0%, 100%, 0.056);
    --colors-bg-table-row-odd-active: hsla(0, 0%, 100%, 0.077);
    --colors-bg-table-header: hsla(0, 0%, 100%, 0.026);
    --colors-bg-table-row-even-normal: hsla(0, 0%, 100%, 0.026);
    --colors-bg-table-row-even-hover: hsla(0, 0%, 100%, 0.056);
    --colors-bg-table-row-even-active: hsla(0, 0%, 100%, 0.077);
    --colors-bg-gold: hsl(48, 100%, 46.1%);
    --colors-bg-silver: hsl(205, 10.7%, 78%);
    --colors-bg-bronze: hsl(17, 25.1%, 66.5%);
    --colors-border-normal: hsla(0, 0%, 100%, 0.056);
    --colors-border-active: hsla(0, 0%, 100%, 0.923);
    --colors-border-disabled: hsla(0, 0%, 100%, 0.026);
    --colors-border-accent: hsl(81, 67%, 50%);
    --colors-border-critical: hsl(358, 75%, 59%);
    --colors-border-informative: hsl(206, 100%, 50%);
    --colors-border-popover: hsla(0, 0%, 100%, 0.056);
    --colors-border-dialog: hsla(0, 0%, 100%, 0.056);
    --colors-border-tooltip: hsla(0, 0%, 100%, 0.592);
    --colors-border-auction-live: hsla(82, 98.4%, 65.6%, 0.135);
    --colors-border-auction-ended: hsla(0, 0%, 100%, 0.056);
    --colors-border-token-amount: hsla(0, 0%, 100%, 0.056);
    --colors-border-ip: hsla(40, 95.9%, 80.8%, 0.1);
    --colors-border-card-primary-normal: transparent;
    --colors-border-card-primary-hover: transparent;
    --colors-border-card-primary-active: transparent;
    --colors-border-card-primary-disabled: hsla(0, 0%, 100%, 0.056);
    --colors-border-card-secondary-normal: hsla(0, 0%, 100%, 0.056);
    --colors-border-card-secondary-hover: hsla(0, 0%, 100%, 0.056);
    --colors-border-card-secondary-active: hsla(0, 0%, 100%, 0.056);
    --colors-border-card-secondary-disabled: hsla(0, 0%, 100%, 0.056);
    --colors-border-input-normal: hsla(0, 0%, 100%, 0.129);
    --colors-border-input-hover: hsla(0, 0%, 100%, 0.172);
    --colors-border-input-focus: hsla(0, 0%, 100%, 0.172);
    --colors-border-input-disabled: hsla(0, 0%, 100%, 0.103);
    --colors-border-tab-active: hsla(0, 0%, 100%, 0.923);
    --colors-border-button-primary-normal: #fff;
    --colors-border-button-primary-hover: transparent;
    --colors-border-button-primary-active: transparent;
    --colors-border-button-primary-disabled: hsla(0, 0%, 100%, 0.077);
    --colors-border-button-secondary-normal: transparent;
    --colors-border-button-secondary-hover: transparent;
    --colors-border-button-secondary-active: transparent;
    --colors-border-button-secondary-disabled: hsla(0, 0%, 100%, 0.077);
    --colors-border-button-radio-normal: transparent;
    --colors-border-button-radio-hover: transparent;
    --colors-border-button-radio-active: transparent;
    --colors-border-button-radio-disabled: hsla(0, 0%, 100%, 0.077);
    --colors-border-button-tertiary-normal: transparent;
    --colors-border-button-tertiary-hover: transparent;
    --colors-border-button-tertiary-active: transparent;
    --colors-border-button-tertiary-disabled: transparent;
    --colors-border-button-quaternary-normal: transparent;
    --colors-border-button-quaternary-hover: transparent;
    --colors-border-button-quaternary-active: transparent;
    --colors-border-button-quaternary-disabled: transparent;
    --colors-border-button-accent-normal: hsla(75, 100%, 60%, 0.342);
    --colors-border-button-accent-hover: hsla(75, 100%, 60%, 0.342);
    --colors-border-button-accent-active: hsla(75, 100%, 60%, 0.342);
    --colors-border-button-accent-disabled: hsla(81, 97.8%, 67.4%, 0.096);
    --colors-border-button-positive-normal: hsla(75, 100%, 60%, 0.342);
    --colors-border-button-positive-hover: hsla(75, 100%, 60%, 0.342);
    --colors-border-button-positive-active: hsla(75, 100%, 60%, 0.342);
    --colors-border-button-positive-disabled: hsla(81, 97.8%, 67.4%, 0.096);
    --colors-border-button-critical-normal: transparent;
    --colors-border-button-critical-hover: transparent;
    --colors-border-button-critical-active: transparent;
    --colors-border-button-critical-disabled: transparent;
    --colors-border-checkbox-normal: hsla(0, 0%, 100%, 0.172);
    --colors-border-checkbox-hover: hsla(0, 0%, 100%, 0.249);
    --colors-border-checkbox-active: transparent;
    --colors-border-checkbox-disabled: hsla(0, 0%, 100%, 0.077);
    --colors-border-radio-normal: hsla(0, 0%, 100%, 0.249);
    --colors-border-radio-hover: hsla(0, 0%, 100%, 0.386);
    --colors-border-radio-active: hsl(81, 67%, 50%);
    --colors-border-radio-disabled: hsla(0, 0%, 100%, 0.103);
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 max-h-12 text-button-primary-normal bg-button-primary-normal text-sm rounded-lg hover:opacity-90 active:scale-[0.98] border-normal;
  }

  .btn-secondary {
    @apply py-2 px-4 max-h-12 text-button-secondary-normal dark:text-button-secondary-active bg-button-secondary-normal dark:bg-button-secondary-active border-button-secondary-normal dark:border-button-secondary-active hover:bg-button-secondary-hover text-sm font-semibold rounded-lg hover:opacity-90 active:scale-[0.98];
  }

  .btn-tertiary {
    @apply text-button-tertiary-normal hover:text-button-tertiary-active bg-button-tertiary-normal border-button-tertiary-normal hover:border-button-tertiary-active hover:bg-button-tertiary-hover;
  }

  .btn-quaternary {
    @apply text-button-quaternary-normal hover:text-button-quaternary-active bg-button-quaternary-normal hover:bg-button-quaternary-active border-button-quaternary-normal hover:border-button-quaternary-active border;
  }

  .card {
    @apply border rounded-lg border-gray-900/10;
  }

  .icon-button {
    @apply flex space-x-2 items-center justify-start;
  }

  .menu-item {
    @apply btn-tertiary active:scale-[0.98] text-base h-10 rounded-button flex items-center justify-start px-2 space-x-4 flex-1;
  }

  .rounded-button {
    @apply rounded-lg cursor-pointer;
  }

  .header {
    @apply h-header px-4 lg:px-6 bg-header flex items-center justify-between;
  }
}
